QLabel
{
    font: 8pt "Verdana";
}

QPushButton
{
    font: 9pt "Verdana";
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 2px;
    min-height: 30px;
    min-width: 80px;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 rgba(240, 240, 240, 255), stop:1 rgba(210, 210, 210, 255));
    color : blue
}
QPushButton:pressed
{
    border: 1px solid #B0E0E6;
    border-radius: 5px;
    padding: 0 2px;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 rgba(210, 210, 210, 255), stop:1 rgba(240, 240, 240, 255));
    color : blue
}
QPushButton:checked
{
    border: 1px solid #B0E0E6;
    border-radius: 5px;
    padding: 0 2px;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 rgba(210, 210, 210, 255), stop:1 rgba(240, 240, 240, 255));
    color : green
}

QPushButton:disabled
{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 2px;
    background-color: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 rgba(210, 210, 210, 255), stop:1 rgba(240, 240, 240, 255));
    color : gray
}

QGroupBox {
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 2ex; /* leave space at the top for the title */
}
QGroupBox {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 6ex; /* leave space at the top for the title */
    min-height: 80px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: left top; /* position at the top center */
    border: 1px solid black;
    padding: 3px;
    background-color: light gray;
    border-radius: 5px;
}

QSlider::groove:vertical {
    background: red;
    position: absolute; /* absolutely position 4px from the left and right of the widget. setting margins on the widget should work too... */
    left: 4px; right: 4px;
}

QSlider::handle:vertical {
    height: 30px;
    background: green;
    margin: 0 2px; /* expand outside the groove */
}

QSpinBox {
    min-width: 80px;
    min-height: 30px;
    background: #B0E0E6;
    font: 10pt;
}

QDoubleSpinBox {
    min-width: 80px;
    min-height: 30px;
    background: #B0E0E6;
    font: 10pt;
}

QComboBox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
    min-height: 30px;
}

QComboBox:editable {
    background: white;
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                 stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 30px;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url(:/png/down_arrow.png);
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}

QRadioButton::indicator:unchecked
{
    image: url(:/png/radio_off.png);
}

QRadioButton::indicator:checked
{
    image: url(:/png/radio_on.png);
}

QCheckBox::indicator:unchecked
{
    image: url(:/png/switch_off.png);
}

QCheckBox::indicator:checked
{
    image: url(:/png/switch_on.png);
}


QTabWidget::pane { /* The tab widget frame */
    border-top: 1px solid orange;
    background: #F5F5F5;
}

QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 1px solid black;
    border-bottom-color: orange; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 30ex;
    min-height: 25px;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
}

/* make use of negative margins for overlapping tabs */
QTabBar::tab:selected {
    /* expand/overlap to the left and right by 4px */
    background: #FFFFF0;
}

QTabBar::tab:first:selected {
    margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
}

QTabBar::tab:last:selected {
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:only-one {
    margin: 0; /* if there is only one tab, we don't want overlapping margins */
}
/*
QTextEdit {
    font-size: 14px
}

QLabel {
    font-size: 14px
}
QPushButton {
    font-size: 14px

}
*/
